<html>
        <head>
            <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
            <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
            <title>Search Engine</title>
            <script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename = 'js/custom.js') }}"></script>
    
            <link href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" rel="stylesheet">
        </head>
        <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Informatics Geeks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/blog">Add Article<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div>
                    <form method="POST" action="/blog">
                        <br><br><br><br>
                        <h1 style="text-align: center">Upload Blog</h1>
                        <input name="title"  type="text" class="form-control" placeholder="Title">
                        <br>
                        <textarea name="content" type="text" class="form-control" placeholder="Content"></textarea>
                        <br>
                        <input type="submit" value="Submit" class="form-control btn btn-primary">
                    </form>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </body>
</html>
    