<html>
    <head>
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <title>Search Engine</title>
        <script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/custom.js') }}"></script>

        <link href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12">
                    <h1>404</h1>
                    <h3>not found</h3>
                </div>
            </div>
        </div>
    </body>
</html>