<html>

<head>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <title>Search Engine</title>
    <script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/custom.js') }}"></script>

    <link href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Informatics Geeks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Add Article</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Article ID</th>
                        {% for kw in keywords %}
                        <th>{{kw.word}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for f in faqs %}
                    <tr>
                        <td><a href="{{f.id_faq}}" title="Q:{{f.question}}   A:{{f.answer}}">Article {{f.id_faq}}</a></td>
                        {% for kw in keywords %} 
                        <td>{{agg[f.id_faq][kw.word]}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function submitForm(action) {
            document.getElementById('columnarForm').action = action;
            document.getElementById('columnarForm').submit();
        }
    </script>
</body>

</html>